@font-face {
  font-family: "robotomono-light";
  src: url('./assets/fonts/RobotoMono-Light.ttf');
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: 'robotomono-light';
}

.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.header-text {
  animation: header-load 500ms;
  // transform: translateY(-100%);
  animation-fill-mode: forwards;
}

@keyframes header-load {
  0% {
    transform: translateY(-100%);
    opacity: 0;
  }
  70% {
    transform: translateY(5%);
  }
  90% {
    transform: translateY(-5%);
  }
  100% {
    transform: translateY(0);
    opacity: 100%
  }
}

